<!-- analysisPage.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Page</title>
</head>
<body>
    <!-- Other content of your page -->

    <!-- Display the image using the base64-encoded string -->
    <img src="data:image/png;base64,{{ movie_distribution_chart }}" alt="Movie Distribution Chart">

    <!-- Other content of your page -->

</body>
</html>
